/*=== Milutin Cirkovic===*/
body {
	background-image: url('../images/background.jpg');
	background-repeat: no-repeat;
	}
#wraper {         
	width: 1100px;
	height: 960px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	background-color:#EBEBEB;
	border: 1px solid #EBEBEB;
	border-radius: 70px;
	}
#pom {
	width: 1094px;
	height: 954px;
	margin-top: 2px;
	margin-left: auto;
	margin-right: auto;
	background-color: #323232;
	border: 1px solid #EBEBEB;
	border-radius: 70px;
	}
#header {       
	width: 1090px;
	height: 150px;
	margin-top: 1px;
	margin-left: auto;
	margin-right: auto;
	background-color: #323232;
	border-top-left-radius: 70px;
	border-top-right-radius: 70px;
	}
#panel {
	width: 900px;
	height: 600px;
	background-color:#EBEBEB;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #323232;
	border-radius: 20px;
	}
	
#navigation {
	width: 800px;
	height: 50px;
	margin-top: 5px;
	margin-left:auto;
	margin-right:auto;
	background-color: #323232;
	border: 1px solid #323232;
	border-radius: 10px;
	}
#nav {
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 13px;
}
.nav a {
	display:inline-block;
	color:#cccccc;
	text-decoration:none;
	font-size: 12pt;
}

.nav {
	font-size: 12pt;
	text-align: center;
	color: #cccccc;
}

.nav a:hover {
		text-decoration: none;
		color:#ffffff;
		font-size: 12pt;
			}
.nav table {
	width: 600px;
	}

#menu {
	width: 800px;
	height: 450px;
	margin-top: 10px;
	margin-left: auto;
	margin-right:auto;
	}
#option {
	width: 268px;
	height: 215px;
	margin-top: 35px;
	margin-left: auto;
	margin-right:auto;
}

#option_a {
	width: 400px;
	height: 355px;
	margin-top: 35px;
	margin-left: auto;
	margin-right:auto;
}
.input_admin {
	background-color: #EBEBEB;
	}
.s select {
	background-color: #EBEBEB;
	}
.s textarea {
	background-color: #EBEBEB;
	}

.naslov a {
	display:inline-block;
	color:black;
	text-decoration:none;
	font-size: 20pt;
}

.naslov {
	font-size: 20pt;
	text-align: center;
	color: black;
}

.naslov a:hover {
		text-decoration: none;
		color:black;
		font-size: 20pt;
			}

.opt a {
	display:inline-block;
	color:black;
	text-decoration:none;
	font-size: 14pt;
}

.opt {
	font-size: 14pt;
	text-align: center;
	color: black;
}

.opt a:hover {
		text-decoration: none;
		color:black;
		font-size: 16pt;
			}

#re {
	width: 780px;
	height: 380px;
	margin-top: 5px;
	margin-left: auto;
	margin-right:auto;
	}
#buttons {
	width: 360px;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
	}
#footer {
	width: 1090px;
	height: 150px;
	margin-top: 21px;
	margin-left: auto;
	margin-right:auto;
	background-color: #323232;
	border-bottom-left-radius: 70px;
	border-bottom-right-radius: 70px;
	}
