/*=== Milutin Cirkovic===*/
body {
	background-image: url('../images/background.jpg');
	background-repeat: no-repeat;
	}
#wraper {         
	width: 1100px;
	height: 960px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	background-color:#EBEBEB;
	border: 1px solid #EBEBEB;
	-webkit-border-bottom-right-radius: 70px;
	-webkit-border-bottom-left-radius: 70px;
	-moz-border-radius-bottomright: 70px;
	-moz-border-radius-bottomleft: 70px;
	border-bottom-right-radius: 70px;
	border-bottom-left-radius: 70px;
	}
#header {       
	width: 1096px;
	height: 148px;
	background-image: url('../images/header.jpg');
	background-repeat: no-repeat;
	margin-top: 2px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	border: 1px solid #EBEBEB;
	}
#horizontal_navigation {   
	width: 1096px;
	height: 58px;
	margin-top: 2px;
	float: right;
	margin-left: 2px;
	margin-right: 2px;
	background-color:#EBEBEB;
	}
#vertical_navigation {    
	width: 160px;
	height: 614px;
	margin-top: 2px;
	margin-left: 2px;
	float: left;
	background-color:#EBEBEB;
	}
#cart {
	width: 934px;
	height: 45px;
	margin-top: 2px;
	margin-left: 2px;
	margin-right: 2px;
	float: right;
	background-color:#323232;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
	}
.cart_d  a:hover {
				text-decoration:underline;
			}	
.cart_d  a {
				display:inline-block;
				color:#ffffff;
				text-decoration:none;
		}
.cart_d {
	font-size: 12pt;
	color: #ffffff;
}

#navigation3 {
	width: 846px;
	height: 25px;
	margin-left: 65px;
	margin-top: 10px;
	}
#glavna {
	width: 932px;
	height: 564px;
	margin-top: 2px;
	float: right;
	margin-top: 2px;
	margin-left: auto;
	margin-right: 2px;
	}
#footer {
	width: 1096px;
	height: 128px;
	float:left;
	margin-top: 2px;
	margin-left: 2px;
	margin-right: 2px;
	background-color:#323232;
	-webkit-border-bottom-right-radius: 70px;
	-webkit-border-bottom-left-radius: 70px;
	-moz-border-radius-bottomright: 70px;
	-moz-border-radius-bottomleft: 70px;
	border-bottom-right-radius: 70px;
	border-bottom-left-radius: 70px;
	}
#top_footer {
	width:1076px;
	height: 20px;
	margin-top: 5px;
	margin-left: 10px;
	}
.navigation_4 {
	margin-left: 340px;
	margin-top: 2px;
	font-size:16px;
	color:#fff;
	}
.navigation_4  a {
				display:inline-block;
				color:#ffffff;
				text-decoration:none;
		}
.navigation_4  a:hover {
				text-decoration:underline;
			}	
#middle_footer {
	width:1076px;
	height: 40px;
	margin-top: 5px;
	margin-left: 10px;
	}	
.f_m {
	font-size:12px;
	color:#fff;
	}
#bottom_footer {
	width:1076px;
	height: 32px;
	margin-top: 5px;
	margin-left: 10px;
	}
#f_b_l{
	width: 415px;
	height: 16px;
	float: left;
	margin-top:8px;
	margin-left:20px;
	}	
.copyright {
	font-size:12px;
	color:#fff;
	}
.copyright  a {
				display:inline-block;
				color:#ffffff;
				text-decoration:none;
		}
.copyright  a:hover {
				text-decoration:underline;
			}	
#f_b_c{
	width: 50px;
	height: 16px;
	float: left;
	margin-top:8px;
	margin-left:40px;
	}	
#img_card{
	width:	160px;
	height: 32px;
	margin-left: 2px;
	float: left;
	}
.img_card {
	margin-top: 0px;
	}
#f_b_r{
	width: 75px;
	height: 16px;
	float: left;
	margin-top:8px;
	margin-left:40px;
	}
#social {
	width: 150px;
	height: 32px;
	float:left;
	margin-left: 2px;
	}
/* =================horizontal navigation==================== */
ul#navigation_1{
	margin:0;list-style:none;padding:1px 1px 1px 0;background-color:#EBEBEB;;background-image:url("images/mainbk.png");background-repeat:repeat;border-width:0px;border-style:solid;border-color:#999999;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;font-size:0;z-index:999;position:relative;display:inline-block;zoom:1;
	*display:inline;}
ul#navigation_1 li{
	display:block;white-space:nowrap;font-size:0;float:left;}
ul#navigation_1>li{
	margin:0 0 0 1px;}
* html ul#navigation_1 li a{
	display:inline-block;}
ul#navigation_1 a:active, ul#navigation_1 a:focus{
	outline-style:none;}
ul#navigation_1 a{
	display:block;vertical-align:middle;text-align:center;text-decoration:none;font:bold 12px Arial;color:#cccccc;cursor:default;padding:10px;background-color:#333;background-image:url("images/mainbk.png");background-repeat:repeat;background-position:0 200px;border-width:0px;border-style:none;border-color:;}
ul#navigation_1 li:hover>a,ul#navigation_1 a.pressed{
	background-color:#323232;border-style:none;color:#ffffff;text-decoration:none;background-image:url("images/mainbk.png");background-position:0 100px;}
ul#navigation_1 img{
	border:none;vertical-align:middle;margin-right:10px;}
ul#navigation_1 img.over{
	display:none;}
ul#navigation_1 li:hover > a img.def{
	display:none;}
ul#navigation_1 li:hover > a img.over{
	display:inline;}
ul#navigation_1 li a.pressed img.over{
	display:inline;}
ul#navigation_1 li a.pressed img.def{
	display:none;}
ul#navigation_1 li:hover>a,ul#navigation_1 li>a.pressed{
	background-color:#323232;background-image:url("images/mainbk.png");background-position:0 100px;border-style:none;color:#ffffff;text-decoration:none;}
ul#navigation_1 li.topfirst>a{
	border-radius:20px 0 0 20px;-moz-border-radius:20px 0 0 20px;-webkit-border-radius:20px;-webkit-border-top-right-radius:0;-webkit-border-bottom-right-radius:0;text-shadow:#000000 0px -1px 1px;}
ul#navigation_1 li.topfirst:hover>a,ul#navigation_1 li.topfirst>a.pressed{
	text-shadow:#3d3d3d 0px -1px 1px;}
ul#navigation_1 li.topmenu>a{
	text-shadow:#000000 0px -1px 1px;}
ul#navigation_1 li.topmenu:hover>a,ul#navigation_1 li.topmenu>a.pressed{
	text-shadow:#3d3d3d 0px -1px 1px;}
ul#navigation_1 li.toplast>a{
	border-radius:0 20px 20px 0;-moz-border-radius:0 20px 20px 0;-webkit-border-radius:0;-webkit-border-top-right-radius:20px;-webkit-border-bottom-right-radius:20px;text-shadow:#000000 0px -1px 1px;}
ul#navigation_1 li.toplast:hover>a,ul#navigation_1 li.toplast>a.pressed{
	text-shadow:#3d3d3d 0px -1px 1px;}
 
 /*===================Vertical navigation=================== */   /*++*/
ul#navigation_2,ul#navigation_2 ul{
	margin:0;list-style:none;padding:0;background-color:#000;background-image:url("images/mainbk.png");background-repeat:repeat;border-width:0px;border-style:solid;border-color:#999999;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;}
ul#navigation_2 ul{
	display:none;position:absolute;left:100%;top:0;-moz-box-shadow:0.7px 0.7px 1px #777777;-webkit-box-shadow:0.7px 0.7px 1px #777777;box-shadow:0.7px 0.7px 1px #777777;background-color:#333;background-image:none;border-width:1px;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;border-style:solid;border-color:#5A5E60;padding:0 9px 9px;}
ul#navigation_2 li:hover>*{
	display:block;}
ul#navigation_2 li{
	position:relative;display:block;white-space:nowrap;font-size:0;}
ul#navigation_2 li:hover{
	z-index:1;}
ul#navigation_2{
	padding:0 1px 1px;font-size:0;z-index:999;position:relative;display:inline-block;zoom:1;
	*display:inline;}
ul#navigation_2>li{
	margin:1px 0 0;}
ul#navigation_2 a:active, ul#navigation_2 a:focus{
	outline-style:none;}
ul#navigation_2 a{
	display:block;vertical-align:middle;text-align:left;text-decoration:none;font:bold 12px Arial;color:#cccccc;cursor:default;padding:10px;background-color:#333;background-image:url("images/mainbk.png");background-repeat:repeat;background-position:0 200px;border-width:0px;border-style:none;border-color:;}
ul#navigation_2 ul li{
	float:none;margin:9px 0 0;}
ul#navigation_2 ul a{
	text-align:left;padding:8px 0 0 0;background-color:#333;background-image:none;border-width:1px 0 0 0;border-style:solid;border-color:#262626;border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;font:13px Arial;color:#cccccc;text-decoration:none;}
ul#navigation_2 li:hover>a,ul#navigation_2 a.pressed{
	background-color:#00c4ff;border-style:none;color:#ffffff;text-decoration:none;background-image:url("images/mainbk.png");background-position:0 100px;}
ul#navigation_2 img{
	border:none;vertical-align:middle;margin-right:10px;}
ul#navigation_2 img.over{
	display:none;}
ul#navigation_2 li:hover > a img.def{
	display:none;}
ul#navigation_2 li:hover > a img.over{
	display:inline;}
ul#navigation_2 li a.pressed img.over{
	display:inline;}
ul#navigation_2 li a.pressed img.def{
	display:none;}
ul#navigation_2 span{
	display:block;overflow:visible;background-position:right center;background-repeat:no-repeat;padding-right:0px;}
ul#navigation_2 li:hover>a,ul#navigation_2 li>a.pressed{
	background-color:#00c4ff;background-image:url("mainbk.png");background-position:0 100px;border-style:none;color:#ffffff;text-decoration:none;}
ul#navigation_2 ul li:hover>a,ul#navigation_2 ul li>a.pressed{
	background-color:#333;background-image:none;border-style:solid;border-color:#262626;color:#1F80AE;text-decoration:none;}
ul#navigation_2 li.topfirst>a{
	border-radius:4px 4px 0 0;-moz-border-radius:4px 4px 0 0;-webkit-border-radius:4px;-webkit-border-bottom-right-radius:0;-webkit-border-bottom-left-radius:0;text-shadow:#000000 0px -1px 1px;}
ul#navigation_2 li.topfirst:hover>a,ul#navigation_2 li.topfirst>a.pressed{
	text-shadow:#3d3d3d 0px -1px 1px;}
ul#navigation_2 li.topmenu>a{
	text-shadow:#000000 0px -1px 1px;}
ul#navigation_2 li.topmenu:hover>a,ul#navigation_2 li.topmenu>a.pressed{
	text-shadow:#3d3d3d 0px -1px 1px;}
ul#navigation_2 li.toplast>a{
	border-radius:0 0 4px 4px;-moz-border-radius:0 0 4px 4px;-webkit-border-radius:0;-webkit-border-bottom-right-radius:4px;-webkit-border-bottom-left-radius:4px;text-shadow:#000000 0px -1px 1px;}
ul#navigation_2 li.toplast:hover>a,ul#navigation_2 li.toplast>a.pressed{
	text-shadow:#3d3d3d 0px -1px 1px;}
ul#navigation_2 _>li>a{
	padding:0;}
ul#navigation_2 li.subfirst>a{
	border-width:0;border-style:none;padding:0;}
ul#navigation_2 li.subfirst:hover>a,ul#navigation_2 li.subfirst>a.pressed{
	border-style:none;}

/*========================= Login =================*/   /*++*/
#login {
	background-image: url('../images/login.jpg');
	background-repeat: no-repeat;
	width: 333px;
	height: 317px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 90px;
	padding: 30px 10px 10px 10px;
}
#content {
	margin-left: auto;
	margin-right: auto;
	width: 293px;
}
#forgot-password {
	text-align: right;
	padding-right: 25px;
}
#forgot-password a {
	color: #ffffff;
	font-size: 8pt;
	line-height: 20px;
}
#login-buttton {
	text-align: right;
	padding-right: 25px;
	padding-top: 10px;
}
.input-log {
	background-image: url('../images/input-bg.jpg');
	height: 47px;
	width: 260px;
	border: 1px solid #8a8a8a;
	margin-bottom: 20px;
	font-size: 20pt;
	color: #ffffff;
	line-height: 47px;
	padding-left: 4px;
}
.login-info {
	font-size: 10pt;
	font-weight: bold;
	color: #ffffff;
	line-height: 25px;
	letter-spacing: 2px;
}
.checkbox {
	float: left;
}
.rememberme {
	line-height: 20px;
	font-size: 8pt;
	color: #ffffff;
	float: left;
}


/*=================== Registration =================*/  /*++*/
#registration {
	background-image: url('../images/registration.jpg') ;
	background-repeat: no-repeat;
	width: 525px;
	border: 0px solid;
	height: 490px;
	margin-top:10px;
	margin-left: auto;
	margin-right: auto;
	padding: 30px 25px 25px 25px;
}
#window_reg {
	width: 350px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
}
#botton_reg {
	width: 520px;
	margin-top: 40px;
	margin-left:auto;
	margin-right:auto;
}
.input-reg {
	background-image: url('../images/input-bg.jpg');
	height: 25px;
	width: 160px;
	border: 1px solid #8a8a8a;
	margin-bottom: 2px;
	font-size: 12pt;
	color: #ffffff;
	line-height: 47px;
	padding-left: 4px;
	}
.registration-info {
	font-size: 12pt;
	font-weight: bold;
	color: #ffffff;
	line-height: 25px;
	letter-spacing: 2px;
	}
.link  a {
				display:inline-block;
				color:#ffffff;
				text-decoration:none;
		}
.link  a:hover {
				text-decoration:underline;
			}	
.botton_reg_left {
	margin-left: 50px;
	}
.botton_reg_right {
	margin-left: 30px;
	}
	
/*======================Products=====================*/

#product {
	background-color:white;
	height: 250px;
	width:  222px;
	float:left;
	margin-top:5px;
	margin-left:5px;
	}
#item {
	background-color:white;
	width: 218px;
	margin-top: 1px;
	margin-left: 1px;	
	}
.item {
	margin-left: 10px;
	font-size: 12pt;
	}
.item  a {
	display:inline-block;
	color:#4D4DFF;
	text-decoration:none;
	}
.item  a:hover {
	text-decoration:underline;
	}	
#img_item {
	background-color:white;
	width: 218px;
	margin-top: 1px;
	margin-left: 1px;	
	}
.img_item {
	margin-left: 50px;
	}
#description {
	width:  218px;
	height: 75px;
	background-color:white;
	float:left;
	margin-top:1px;
	margin-left:1px;
	}
.des {
	margin-left:5px;
	color:#4D4DFF;
	list-style: none;
	}

.details {
	margin-left: 30px;
}
.details  a {
	display:inline-block;
	color:#4D4DFF;
	text-decoration:none;
	}
.details  a:hover {
	text-decoration:underline;
	}	

/* ======================== Korpa sa artiklom =======================*/
#cart_top {
	width: 900px;
	border-bottom: 4px solid #323232;
	}
.pom {
	font-size: 18pt;
	margin-left:15px;
	}
#content_cart {
	width:900px;
	height: 180px;
	background-color:#323232;
	border: 1px solid #323232;
	margin-top: 10px;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	}
#img_c_c {
	width:200px;
	height:140px;
	background-color: white;
	margin-top: 30px;
	margin-left:30px;
	}
.img_cc {
	margin-left: 40px;
	}
#ccc{
	width: 620px;
	height: 140px;
	background-color: white;
	margin-top: 30px;
	margin-right: 30px;
	float: right;
	}
#lccc {
	width: 210px;
	height: 130px;
	}
.id_item {
	width: 200px;
	height: 20px;
	vertical-align: middle;
	margin-left: 5px;
	margin-top: 10px;
	list-style: none;
	}
.broj input {
	width: 18px;
	border: 1px solid #323232;
	}
.potvrdi input {
	margin-left:20px;
	}
#sum {
	width: 900px;
	height: 40px;
	margin-top: 50px;
	border-bottom: 1px solid #323232;
	border-top: 1px solid #323232;
	}
.sum {
	margin-left: 700px;
	list-style: none;
}
#total {
	width: 900px;
	height: 20px;
	background-color: #323232;
	margin-top: 2px;
	border: 1px solid;
}
.total {
	float: right;
	margin-right: 40px;
	color:white;
	}
#b_t {
	width: 500px;
	height: 40px;
	margin-top: 10px;
	margin-left: 180px;
	}
.button_s {
	margin-left:20px;
	}
/* ======================== Prazna Korpa =======================*/
.empty {
	margin-left: 350px;
	font: 15px;
	}
/*==================== Payment =================*/
#payment {
	background-image: url('../images/registration.jpg') ;
	background-repeat: no-repeat;
	width: 525px;
	height: 490px;
	margin-top:10px;
	margin-left: auto;
	margin-right: auto;
	padding: 30px 25px 25px 25px;
}
/*==================== Admin =================*/
#meni_admin {
	width: 400px;
	margin-top: 30px;
	margin-left: 300px;
	}
.admin {
	font-size:16px;
	color:black;
	}
.admin  a {
				display:inline-block;
				color:black;
				text-decoration:none;
		}
.admin a:hover {
				text-decoration:underline;
			}	
			
#add_news{
	width:500px;
	margin-top:40px;
	margin-left:auto;
	margin-right: auto;
	}
.news textarea {
	width: 300px;
	height: 300px;
	}
#button_n {
	width:600px;
	height: 50px;
	margin-top: 10px;
	margin-left: 160px;
	}
#bla {
	width: 800px;
	height:64px;
	margin-top: 20px;
	margin-left: 50px;
	
	}
.img_n {
	margin-left: 30px;
	}
#a {
	width:600px;
	height: 30px;
	margin-top: 16px;
}
#i {
	height:64px;
	width: 100px;
	float:right;
	margin-left: 2px;
}