/*=== Valentina Prcovic===*/
body {
	background-image: url('../images/background.jpg');
	background-repeat: no-repeat;
	}
#wraper {         
	width: 1100px;
	height: 1055px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	background-color:#EBEBEB;
	border: 1px solid #EBEBEB;
	-webkit-border-bottom-right-radius: 70px;
	-webkit-border-bottom-left-radius: 70px;
	-moz-border-radius-bottomright: 70px;
	-moz-border-radius-bottomleft: 70px;
	border-bottom-right-radius: 70px;
	border-bottom-left-radius: 70px;
	}
#header {       
	width: 1096px;
	height: 148px;
	background-image: url('../images/header.jpg');
	background-repeat: no-repeat;
	margin-top: 2px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	border: 1px solid #EBEBEB;
	}
#horizontal_navigation {   
	width: 1096px;
	height: 58px;
	margin-top: 2px;
	margin-left: auto;
	margin-right: auto;
	background-color:#EBEBEB;
	}
#container {
	width: 1096px;
	height: 614px;
	margin-top:2px;
	margin-left:auto;
	margin-right:auto;
	}
#vertical_navigation {    
	width: 160px;
	height: 790px;
	margin-top: 0px;
	margin-left: 0px;
	background-color:#EBEBEB;
	float:left;
	}
#panel {
	width: 934px;
	height: 35px;
	float:right;
	margin-top: 0px;
	margin-right:0px;
	background-color:#323232;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
	}
#panel_t {
	width: 1096px;
	height: 35px;
	float:right;
	margin-top: 0px;
	margin-right:0px;
	background-color:#323232;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
	}
#navigation3t {
	width: 840px;
	margin-top: 5px;
	margin-left: 100px;
	}
#navigation3 {
	width: 870px;
	margin-top: 4px;
	margin-left: 35px;
	}
	
.nav3 a {
	display:inline-block;
	color:#cccccc;
	text-decoration:none;
	font-size: 12pt;
}

.nav3 {
	font-size: 12pt;
	text-align: center;
	color: #cccccc;
}

.nav3 a:hover {
		text-decoration: none;
		color:#ffffff;
		font-size: 12pt;
			}
.nav3s  a{
	font-size: 12pt;
	text-align: center;
	color: white;
	font-weight: 450;
	}


.nav3  table{
		width: 870px;
		height: 25px;
		vertical-align:bottom;
		}
.nav 3 td {
		border: 1px solid black;
		}



#main {
	width: 934px;
	height: 547px;
	margin-top: 2px;
	margin-right: 0px;
	float:right;       
	}
	
/* footer */

#footer {
	width: 1096px;
	height: 128px;
	float:left;
	margin-top: 6px;
	margin-left: 2px;
	margin-right: 2px;
	background-color:#323232;
	-webkit-border-bottom-right-radius: 70px;
	-webkit-border-bottom-left-radius: 70px;
	-moz-border-radius-bottomright: 70px;
	-moz-border-radius-bottomleft: 70px;
	border-bottom-right-radius: 70px;
	border-bottom-left-radius: 70px;
	}
#top_footer {
	width:1076px;
	height: 20px;
	margin-top: 5px;
	margin-left: 10px;
	}
.navigation_4 {
	margin-left: 340px;
	margin-top: 2px;
	font-size:16px;
	color:#fff;
	}
.navigation_4  a {
				display:inline-block;
				color:#cccccc;
				text-decoration:none;
		}
.navigation_4  a:hover {
				text-decoration:underline;
				color:#ffffff;
			}	
#middle_footer {
	width:1076px;
	height: 40px;
	margin-top: 5px;
	margin-left: 10px;
	}	
.f_m {
	font-size:12px;
	color: #cccccc;
	}
#bottom_footer {
	width:1076px;
	height: 32px;
	margin-top: 5px;
	margin-left: 10px;
	}
#f_b_l{
	width: 415px;
	height: 16px;
	float: left;
	margin-top:8px;
	margin-left:20px;
	}	
.copyright {
	font-size:12px;
	color: #cccccc;
	}
.copyright  a {
				display:inline-block;
				color: #cccccc;
				text-decoration:none;
		}
.copyright  a:hover {
				text-decoration:underline;
				color:#ffffff;
			}	
#f_b_c{
	width: 53px;
	height: 16px;
	float: left;
	margin-top:8px;
	margin-left:40px;
	}	
#img_card{
	width:	160px;
	height: 32px;
	margin-left: 2px;
	float: left;
	}
.img_card {
	margin-top: 0px;
	}
#f_b_r{
	width: 75px;
	height: 16px;
	float: left;
	margin-top:8px;
	margin-left:40px;
	}
#social {
	width: 160px;
	height: 32px;
	float:left;
	margin-left: 2px;
	}
/* =================horizontal navigation==================== */

ul#navigation_1{
	margin:0;list-style:none;padding:1px 1px 1px 0;background-color:#EBEBEB;;background-image:url("../images/menu/mainbk-hor.png");background-repeat:repeat;border-width:0px;border-style:solid;border-color:#999999;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;font-size:0;z-index:999;position:relative;display:inline-block;zoom:1;
	*display:inline;}
ul#navigation_1 li{
	display:block;white-space:nowrap;font-size:0;float:left;}
ul#navigation_1>li{
	margin:0 0 0 1px;}
* html ul#navigation_1 li a{
	display:inline-block;}
ul#navigation_1 a:active, ul#navigation_1 a:focus{
	outline-style:none;}
ul#navigation_1 a{
	display:block;vertical-align:middle;text-align:center;text-decoration:none;font:bold 12px Arial;color:#cccccc;hand:default;padding:10px;background-color:#333;background-image:url("../images/menu/mainbk-hor.png");background-repeat:repeat;background-position:0 200px;border-width:0px;border-style:none;border-color:;}
ul#navigation_1 li:hover>a,ul#navigation_1 a.pressed{
	background-color:#323232;border-style:none;color:#ffffff;text-decoration:none;background-image:url("../images/menu/mainbk-hor.png");background-position:0 100px;}
ul#navigation_1 img{
	border:none;vertical-align:middle;margin-right:10px;}
ul#navigation_1 img.over{
	display:none;}
ul#navigation_1 li:hover > a img.def{
	display:none;}
ul#navigation_1 li:hover > a img.over{
	display:inline;}
ul#navigation_1 li a.pressed img.over{
	display:inline;}
ul#navigation_1 li a.pressed img.def{
	display:none;}
ul#navigation_1 li:hover>a,ul#navigation_1 li>a.pressed{
	background-color:#323232;background-image:url("../images/menu/mainbk-hor.png");background-position:0 100px;border-style:none;color:#ffffff;text-decoration:none;}
ul#navigation_1 li.topfirst>a{
	border-radius:20px 0 0 20px;-moz-border-radius:20px 0 0 20px;-webkit-border-radius:20px;-webkit-border-top-right-radius:0;-webkit-border-bottom-right-radius:0;text-shadow:#000000 0px -1px 1px;}
ul#navigation_1 li.topfirst:hover>a,ul#navigation_1 li.topfirst>a.pressed{
	text-shadow:#3d3d3d 0px -1px 1px;}
ul#navigation_1 li.topmenu>a{
	text-shadow:#000000 0px -1px 1px;}
ul#navigation_1 li.topmenu:hover>a,ul#navigation_1 li.topmenu>a.pressed{
	text-shadow:#3d3d3d 0px -1px 1px;}
ul#navigation_1 li.toplast>a{
	border-radius:0 20px 20px 0;-moz-border-radius:0 20px 20px 0;-webkit-border-radius:0;-webkit-border-top-right-radius:20px;-webkit-border-bottom-right-radius:20px;text-shadow:#000000 0px -1px 1px;}
ul#navigation_1 li.toplast:hover>a,ul#navigation_1 li.toplast>a.pressed{
	text-shadow:#3d3d3d 0px -1px 1px;}
 
 /*===================Vertical navigation=================== */
 
ul#navigation_2,ul#navigation_2 ul{
	margin:0;list-style:none;padding:0;background-color:#000;background-image:url("..images/menu/mainbk-ver.png");background-repeat:repeat;border-width:0px;border-style:solid;border-color:#999999;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;}
ul#navigation_2 ul{
	display:none;position:absolute;left:100%;top:0;-moz-box-shadow:0.7px 0.7px 1px #777777;-webkit-box-shadow:0.7px 0.7px 1px #777777;box-shadow:0.7px 0.7px 1px #777777;background-color:#323232;background-image:none;border-width:1px;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;border-style:solid;border-color:#5A5E60;padding:0 9px 9px;}
ul#navigation_2 li:hover>*{
	display:block;}
ul#navigation_2 li{
	position:relative;display:block;white-space:nowrap;font-size:0;}
ul#navigation_2 li:hover{
	z-index:1;}
ul#navigation_2{
	padding:0 1px 1px;font-size:0;z-index:999;position:relative;display:inline-block;zoom:1;
	*display:inline;}
ul#navigation_2>li{
	margin:1px 0 0;}
ul#navigation_2 a:active, ul#navigation_2 a:focus{
	outline-style:none;}
ul#navigation_2 a{
	display:block;vertical-align:middle;text-align:left;text-decoration:none;font:bold 12px Arial;color:#cccccc;cursor:hand;padding:10px;background-color:#323232;background-image:url("../images/menu/mainbk-ver.png");background-repeat:repeat;background-position:0 200px;border-width:0px;border-style:none;border-color:;}
ul#navigation_2 ul li{
	float:none;margin:9px 0 0;}
ul#navigation_2 ul a{
	text-align:left;padding:8px 0 0 0;background-color:#323232;background-image:none;border-width:1px 0 0 0;border-style:solid;border-color:#262626;border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;font:13px Arial;color:#cccccc;text-decoration:none;}
ul#navigation_2 li:hover>a,ul#navigation_2 a.pressed{
	background-color:#323232;border-style:none;color:#ffffff;text-decoration:none;background-image:url("../images/menu/mainbk-ver.png");background-position:0 100px;}
ul#navigation_2 img{
	border:none;vertical-align:middle;margin-right:10px;}
ul#navigation_2 img.over{
	display:none;}
ul#navigation_2 li:hover > a img.def{
	display:none;}
ul#navigation_2 li:hover > a img.over{
	display:inline;}
ul#navigation_2 li a.pressed img.over{
	display:inline;}
ul#navigation_2 li a.pressed img.def{
	display:none;}
ul#navigation_2 span{
	display:block;overflow:visible;background-position:right center;background-repeat:no-repeat;padding-right:0px;}
ul#navigation_2 li:hover>a,ul#navigation_2 li>a.pressed{
	background-color:#323232;background-image:url("../images/menu/mainbk.png");background-position:0 100px;border-style:none;color:#ffffff;text-decoration:none;}
ul#navigation_2 ul li:hover>a,ul#navigation_2 ul li>a.pressed{
	background-color:#323232;background-image:none;border-style:solid;border-color:#262626;color:#FFFFFF;text-decoration:none;}
ul#navigation_2 li.topfirst>a{
	border-radius:4px 4px 0 0;-moz-border-radius:4px 4px 0 0;-webkit-border-radius:4px;-webkit-border-bottom-right-radius:0;-webkit-border-bottom-left-radius:0;text-shadow:#000000 0px -1px 1px;}
ul#navigation_2 li.topfirst:hover>a,ul#navigation_2 li.topfirst>a.pressed{
	text-shadow:#3d3d3d 0px -1px 1px;}
ul#navigation_2 li.topmenu>a{
	text-shadow:#000000 0px -1px 1px;}
ul#navigation_2 li.topmenu:hover>a,ul#navigation_2 li.topmenu>a.pressed{
	text-shadow:#3d3d3d 0px -1px 1px;}
ul#navigation_2 li.toplast>a{
	border-radius:0 0 4px 4px;-moz-border-radius:0 0 4px 4px;-webkit-border-radius:0;-webkit-border-bottom-right-radius:4px;-webkit-border-bottom-left-radius:4px;text-shadow:#000000 0px -1px 1px;}
ul#navigation_2 li.toplast:hover>a,ul#navigation_2 li.toplast>a.pressed{
	text-shadow:#3d3d3d 0px -1px 1px;}
ul#navigation_2 _>li>a{
	padding:0;}
ul#navigation_2 li.subfirst>a{
	border-width:0;border-style:none;padding:0;}
ul#navigation_2 li.subfirst:hover>a,ul#navigation_2 li.subfirst>a.pressed{
	border-style:none;}


/*========================= Login =================*/   /*++*/
#login {
	background-image: url('../images/login.jpg');
	background-repeat: no-repeat;
	width: 333px;
	height: 317px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 90px;
	padding: 30px 10px 10px 10px;
}
#content {
	margin-left: auto;
	margin-right: auto;
	width: 293px;
}
#forgot-password {
	text-align: right;
	padding-right: 25px;
}
#forgot-password a {
	color: #ffffff;
	font-size: 8pt;
	line-height: 20px;
}
#login-buttton {
	text-align: right;
	padding-right: 25px;
	padding-top: 10px;
}
.input-log {
	background-image: url('../images/input-bg.jpg');
	height: 47px;
	width: 260px;
	border: 1px solid #8a8a8a;
	margin-bottom: 20px;
	font-size: 20pt;
	color: #ffffff;
	line-height: 47px;
	padding-left: 4px;
}
.login-info {
	font-size: 10pt;
	font-weight: bold;
	color: #ffffff;
	line-height: 25px;
	letter-spacing: 2px;
}
.checkbox {
	float: left;
}
.rememberme {
	line-height: 20px;
	font-size: 8pt;
	color: #ffffff;
	float: left;
}


/*=================== Registration =================*/  /*++*/
#registration {
	background-image: url('../images/login_reg/registration.jpg') ;
	background-repeat: no-repeat;
	width: 525px;
	border: 0px solid;
	height: 490px;
	margin-top:10px;
	margin-left: auto;
	margin-right: auto;
	padding: 30px 25px 25px 25px;
}
#window_reg {
	width: 350px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
}
#buttons_r {
	width: 370px;
	margin-top: 40px;
	margin-left:auto;
	margin-right:auto;
}
.input-reg {
	background-image: url('../images/input-bg.jpg');
	height: 25px;
	width: 160px;
	border: 1px solid #8a8a8a;
	margin-bottom: 2px;
	font-size: 12pt;
	color: #ffffff;
	line-height: 17px;
	padding-left: 4px;
	}
.registration-info {
	font-size: 12pt;
	font-weight: bold;
	color: #ffffff;
	line-height: 25px;
	letter-spacing: 2px;
	}
.link  a {
				display:inline-block;
				color:#ffffff;
				text-decoration:none;
		}
.link  a:hover {
				text-decoration:underline;
			}	
/*======================Products=====================*/
#pagination {
    text-align:center;
    padding:10px 0;    
    float: center;
}

#pagination span {
    font-size:13px;
    margin:0 6px;
}

#pagination a {
    font-size:13px;
    margin:0 6px;
    text-decoration: underline;
}
#product {
	background-color: #323232;
	height: 265px;
	width:  222px;
	float:left;
	margin-top:5px;
	margin-left:5px;
	border-radius: 10px;
	}
#boxp {
	width: 216px;
	height: 259px;
	background-color:#F0FFFF;
	margin-left:auto;
	margin-right:auto;
	margin-top:3px;
	border-radius: 10px;
	}
#item {
	width: 212px;
	height: 20px;
	margin-top:2px;
	margin-left:auto;
	margin-right:auto;
	text-align: center;
	border-bottom: 3px solid #323232;
	}
.name_product {
	color: black;
	}
#item_picture {
	width: 120px;
	height: 120px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2px;
	}
#product_description {
	width: 212px;
	height: 105px;
	margin-top: 2px;
	margin-left: auto;
	margin-right: auto;
	}
.table_des {
	width: 210px;
	font-size: 11pt;
	}
	
/* ======================== Korpa sa artiklom =======================*/
#cart_top {
	width: 925px;
	margin-left:2px;
	border-bottom: 4px solid #323232;
	}
.pom {
	font-size: 18pt;
	margin-left:15px;
	}
#card_product {
	width:925px;
	height: 134px;
	background-color:#323232;
	border: 1px solid #323232;
	margin-top: 5px;
	margin-left: 2px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	}
#card_product_left {
	width: 150px;
	height: 113px;
	float:left;
	margin-left: 80px;
	margin-top: 10px;
	background-color: white;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;	
	}
.pic_product {
	margin-top: 15px;
	margin-left: 40px;
}
#card_product_middle{
	width: 400px;
	height: 113px;
	float:left;
	margin-top: 10px;
	margin-left: 15px;
	background-color: white;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	behavior: url(ie-css3.htc);	
	}
.ctext {
	width: 350px;
	margin-left: 20px;
	margin-top: 2px;
	}
.ctext  a:hover {
				text-decoration:underline;
			}	
.ctext  a {
				display:inline-block;
				color:black;
				text-decoration:none;
		}
#card_product_right {
	width: 144px;
	height: 64px;
	background-color:#323232;
	float:left;
	margin-left: 70px;
	margin-top:28px;
	}
.icon_p {
	background-color:#323232;
	}

#sum {
	width: 900px;
	height: 50px;
	margin-top: 50px;
	border-bottom: 1px solid #323232;
	border-top: 1px solid #323232;
	}
#total {
	width: 900px;
	height: 20px;
	background-color: #323232;
	margin-top: 2px;
	border: 1px solid;
}
.total {
	color:white;
	}
#buttons_s {
	width: 545px;
	height: 55px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	}

/* ======================== Prazna Korpa =======================*/
#e {
	width:512px;
	height:512px;
	margin-left:auto;
	margin-right:auto;
	}
#e_d {
	width: 250px;
	margin-top: 5px;
	margin-left:auto;
	margin-right:auto;
	}
.empty {
	font-size: 16pt;
	
	}
/*==================== Payment =================*/
#payment {
	background-image: url('../images/login_reg/registration.jpg') ;
	background-repeat: no-repeat;
	width: 525px;
	height: 490px;
	margin-top:10px;
	margin-left: auto;
	margin-right: auto;
	padding: 30px 25px 25px 25px;
}
#naslov_p {
	width: 300px;
	height:40px;
	margin-top: 10px;
	margin-left: 20px;
	}
.p_naslov {
	color: #cccccc;
	font-size: 18pt;
	}
#payment_form {
	width: 480px;
	height: 200px;
	margin-top: 60px;
	margin-left: auto;
	margin-right: auto;
	}
.input-p {
	background-color: #646464;
	height: 25px;
	width: 178px;
	border: 1px solid #8a8a8a;
	margin-bottom: 2px;
	font-size: 12pt;
	color: #ffffff;
	line-height: 17px;
	padding-left: 4px;
	}
.pay {
	font-size: 14pt;
	color: #cccccc;
	}
.pay_s select {
	background-color: #646464;
	width: 184px;
	height: 28px;
	color: white;
	border: 1px solid #8a8a8a;
	font-size: 14pt;
	}
.pay_s option {
	background-color: #646464;
	height: 30px;
	color: white;
	font-size: 14pt;
	border: 1px solid #8a8a8a;
	text-align: center;
	align: middle;
	}
.pay_p {
	font-size: 12pt;
	color: white;
	}
.pay_p select {
	background-color: #646464;
	color: white;
	border: 1px solid #8a8a8a;
	font-size: 12pt;
	}
.pay_p option {
	background-color: #646464;
	color: white;
	text-align: center;
	font-size: 12pt;
	border: 0.5px solid #8a8a8a;
	}
#buttons_p {
	width: 450px;
	margin-top: 70px;
	margin-left:auto;
	margin-right: auto;
}
.term {
	font-size: 12pt;
	margin-left:auto;
	margin-right:auto;
	font-family:"Times New Roman", Times, serif;
	}
.termn {
	font-size: 18pt;
	margin-top: auto;
	margin-left: auto;
	font-family:"Times New Roman", Times, serif;
	}
#con  {
	width: 360px;
	height:220px;
	margin-right:auto;
	margin-left: auto;
	margin-top:70px;
	}
#cb  {
	width: 250px;
	height: 40px;
	margin-left: auto;
	margin-right:auto;
	margin-top: 0px;
	}
.qwe input {
	background-color: #EBEBEB;
	border: 1px solid #808080;
	height: 25px;
	}
.qwe textarea {
	background-color: #EBEBEB;
	border: 1px solid #808080;
	}
.qwe {
	font-size: 14pt;
	text-align: right;
	}
.ewq {
	text-align: center;
	font-size: 16pt;
	}
.contact {
	margin-left: 30px;
	font-family:"Times New Roman", Times, serif;
	}
.help {
	margin-left: 20px;
	font-family:"Times New Roman", Times, serif;
	}
.helpn {
	font-weight:bold;
	}